$clr-primary: #262626;
$clr-check: greenyellow;
$radius: 10px;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
