@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
