@use './mixin' as *;

.newItem {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 8rem;
  left: 0;
  right: 0;
  text-align: center;

  .input {
    position: relative;

    input {
      @include small-device {
        height: 4rem;
        width: 80vw;
      }
      width: 50vw;
      height: 5rem;
      padding-left: 4.5rem;
      font-size: 1.5rem;
      border: none;
      border-radius: $radius;

      &:focus {
        outline: none;
        box-shadow: 0px 1px 17px 3px rgba(0, 0, 0, 0.57);
        -webkit-box-shadow: 0px 1px 17px 3px rgba(0, 0, 0, 0.57);
        -moz-box-shadow: 0px 1px 17px 3px rgba(0, 0, 0, 0.57);
      }
    }

    .icon {
      @include flex;
      position: absolute;
      top: 50%;
      left: 26%;
      transform: translateY(-50%);
      border: 3px solid white;
      border-radius: 50vh;
      padding: 1rem;
      height: 1px;
      width: 1px;
      color: white;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $clr-primary;
      }
    }
  }
}
