@use './mixin' as *;

.createList {
  @include flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);

  &.hidden {
    display: none;
  }

  .card {
    @include small-device {
      height: 60vh;
      width: 90vw;
    }
    @include flex-col;
    justify-content: space-between;
    height: 70vh;
    width: 40vw;
    background-color: $clr-primary;
    border-radius: $radius;
    padding: 1.5rem;
    padding-bottom: 4rem;

    .cardHeading {
      font-size: 2rem;
      font-weight: 600;
    }

    .cardContent {
      ul {
        $circle-size: 18rem;
        $item-size: 5rem;
        @include small-device {
          $circle-size: 14rem;
          $item-size: 4rem;
        }
        @include on-circle(
          $item-count: 5,
          $circle-size: $circle-size,
          $item-size: $item-size
        );
        margin: 0rem auto 0rem;
        border: solid 5px white;
        background-color: $clr-primary;
        position: relative;

        .text {
          @include flex;
          bottom: 0;
          top: auto;
          font-size: 1.25rem;
          font-weight: 600;
        }

        li {
          @include flex;
          max-width: 100%;
          border-radius: 50%;
          background-color: white;
          transition: 0.1s;
          color: $clr-primary;
          cursor: pointer;

          & > * {
            filter: brightness(0);
          }

          &:hover,
          &:active {
            border: 5px solid transparent;
            border-radius: 50vh;
            background-image: linear-gradient(white, white),
              linear-gradient(
                to bottom right,
                #b827fc 0%,
                #2c90fc 25%,
                #b8fd33 50%,
                #fec837 75%,
                #fd1892 100%
              );
            background-origin: border-box;
            background-clip: content-box, border-box;
          }
        }

        .work {
          &:hover {
            & ~ {
              .text {
                &::before {
                  content: 'Work';
                }
              }
            }
          }
        }

        .shopping {
          &:hover {
            & ~ {
              .text {
                &::before {
                  content: 'Shopping';
                }
              }
            }
          }
        }

        .travel {
          &:hover {
            & ~ {
              .text {
                &::before {
                  content: 'Travel';
                }
              }
            }
          }
        }

        .sports {
          &:hover {
            & ~ {
              .text {
                &::before {
                  content: 'Sports';
                }
              }
            }
          }
        }

        .other {
          &:hover {
            & ~ {
              .text {
                &::before {
                  content: 'Other';
                }
              }
            }
          }
        }
      }
    }
  }
}
