@use './mixin' as *;

.home {
  @include flex-col;
  position: relative;

  .hero {
    position: relative;
    width: 100%;
    height: 55vh;

    canvas {
      position: absolute;
      width: inherit;
      height: 100%;
      z-index: -1;
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 80%,
        1% 79.97%,
        2% 79.86%,
        3% 79.7%,
        4% 79.46%,
        5% 79.16%,
        6% 78.79%,
        7% 78.37%,
        8% 77.88%,
        9% 77.34%,
        10% 76.74%,
        11% 76.09%,
        12% 75.39%,
        13% 74.65%,
        14% 73.87%,
        15% 73.05%,
        16% 72.2%,
        17% 71.32%,
        18% 70.42%,
        19% 69.49%,
        20% 68.56%,
        21% 67.61%,
        22% 66.66%,
        23% 65.71%,
        24% 64.76%,
        25% 63.82%,
        26% 62.9%,
        27% 62%,
        28% 61.12%,
        29% 60.27%,
        30% 59.45%,
        31% 58.67%,
        32% 57.93%,
        33% 57.23%,
        34% 56.58%,
        35% 55.98%,
        36% 55.44%,
        37% 54.96%,
        38% 54.53%,
        39% 54.17%,
        40% 53.87%,
        41% 53.63%,
        42% 53.47%,
        43% 53.37%,
        44% 53.33%,
        45% 53.37%,
        46% 53.47%,
        47% 53.64%,
        48% 53.88%,
        49% 54.18%,
        50% 54.55%,
        51% 54.97%,
        52% 55.46%,
        53% 56%,
        54% 56.6%,
        55% 57.25%,
        56% 57.95%,
        57% 58.69%,
        58% 59.48%,
        59% 60.3%,
        60% 61.15%,
        61% 62.03%,
        62% 62.93%,
        63% 63.86%,
        64% 64.79%,
        65% 65.74%,
        66% 66.69%,
        67% 67.64%,
        68% 68.59%,
        69% 69.53%,
        70% 70.45%,
        71% 71.35%,
        72% 72.23%,
        73% 73.08%,
        74% 73.9%,
        75% 74.68%,
        76% 75.42%,
        77% 76.12%,
        78% 76.76%,
        79% 77.36%,
        80% 77.9%,
        81% 78.38%,
        82% 78.81%,
        83% 79.17%,
        84% 79.47%,
        85% 79.7%,
        86% 79.87%,
        87% 79.97%,
        88% 80%,
        89% 79.96%,
        90% 79.86%,
        91% 79.69%,
        92% 79.45%,
        93% 79.15%,
        94% 78.78%,
        95% 78.35%,
        96% 77.86%,
        97% 77.32%,
        98% 76.72%,
        99% 76.07%,
        100% 75.37%
      );
    }
  }

  .main {
    @include flex-col;
    justify-content: flex-start;
    max-width: 100vw;
    margin-top: -3rem;
    margin-bottom: 3rem;
    position: relative;

    .heading {
      margin-bottom: 2rem;
    }

    .loader {
      margin-top: 3rem;
      width: 5rem;
      height: 5rem;
    }
  }
}
